.App {
  width: 393px;
  height: 852px;
  border: 1px solid black;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.row-arrange{
  display: flex;
  flex-direction: row;
}
.add-button{
  margin: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brown);
  font-weight: bolder;
}
.modal-input{
background: transparent;
color:var(--beige);
border-radius: 15px;
}
.button-position-center{
  display: flex;
  justify-content: center;
}
.button{
  width: 40px;
  height: 25px;
}
.container-center{
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
.loading-container{

}
.loading-img{ 
  background-image: url('./assets/passion.png');
  background-size: contain;
  background-position: center;
  height: 200px;
  background-repeat: no-repeat; 
}